/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
  background: url(http://test.storage.6city.com/sp/Invite-people.png)
} 


@import 'scss/sc';
